<section class="px-banner">
    <div class="banner-holder">
        <div class="flexslider px-loading">
            <div class="loader"><img src="assets/images/squares.gif" alt="" /></div>
            <ul class="slides">
                <li>
                    <img src="assets/extra-images/mary-poppins.jpg" alt="" />
                    <div class="banner-mask"><img src="assets/images/slider-border.png" alt="" /></div>
                    <div class="caption dark">
                        <h2>Mary Poppins</h2>
                        <p>When Jane and Michael, the children of the wealthy and uptight Banks family, are faced with the prospect of a new nanny, they are pleasantly surprised by the arrival of the magical Mary Poppins. Embarking on a series of fantastical adventures with Mary and her Cockney performer friend, Bert, the siblings try to pass on some of their nanny's sunny attitude to their preoccupied parents.</p>
                        <a href="#" class="px-readmore">Read more</a>
                    </div>
                </li>
                <!--<li>
                    <img src="assets/extra-images/seats.jpg" alt="" />
                    <div class="banner-mask"><img src="assets/images/slider-border.png" alt="" /></div>
                    <div class="caption">
                        <h2>Wow Awards<br/>
                            VIP Upgrades for South America!</h2>
                        <p>The start of the GNR South American run is only days away. Do you have your tickets yet?? If you do, don't miss your chance to NOW upgrade your experience to VIP! Upgrades are now available for purchase! </p>
                        <a href="#" class="px-readmore">Read more</a>
                    </div>
                </li>-->
            </ul>
        </div>
    </div>
</section>