<div style="background:url(/assets/extra-images/subheader1.jpg) no-repeat; min-height:180px;" class="breadcrumb-sec align-left">
    <div class="container">
        <div class="px-table">
            <div class="px-tablerow">
                <div class="px-pageinfo">
                    <h2>{{page.title}}</h2>
                </div>
                <!--<div class="breadcrumbs">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="#">Discography</a></li>
                        <li class="active">Latest Albums</li>
                    </ul>
                </div>-->
            </div>
        </div>
    </div>
</div>