<footer id="footer">
    <div class="container">
        <div class="row">
            <aside class="widget widget-contact col-md-6">
                <div class="widget-section-title">
                    <h6>Contact</h6>
                </div>
                <ul>
                    <li>
                        <i class="icon-envelope4"></i>
                        <p>{{site.email}}</p>
                    </li>
                    <!--<li>
                        <i class="icon-phone8"></i>
                        <p>{{site.phone}}</p>
                    </li>-->
                </ul>
            </aside>
            <aside class="widget widget-categories col-md-6">
                <div class="widget-section-title">
                    <h6>Quick Links</h6>
                </div>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="https://centerplacechristiantheatre.ticketleap.com" target="_blank">Tickets</a></li>
                    <li><a href="/about.html">About</a></li>
                    <li><a href="/contact.html">Contact</a></li>
                </ul>
            </aside>
            <!--<aside class="widget widget-newsletter col-md-6">
                <div class="widget-section-title">
                    <h6>Signup for Newsletter</h6>
                </div>
                <div class="newsletter-flied">
                    <p>We provide a wide array of software design and development services from Mobile applications and Web applications to User interface design.</p>
                    <form>
                        <label><input type="text" required placeholder="Enter your valid email address"></label>
                        <input type="submit" value="Signup">
                    </form>
                    <span class="error"><i class="icon-info7"></i>Dont't worry, we won't spam you.</span>
                </div>
            </aside>-->
        </div>
    </div>
    <section id="copyright">
        <div class="container">
            <!--<div class="social-media">
                <ul>
                    <li class="col-md-6">
                        <a href="https://www.facebook.com/Center-Place-Christian-Theatre-544487852400441" target="_blank" data-original="facebook">
                        <i class="icon-facebook9"></i><span>Facebook</span></a>
                    </li>
                    <li class="col-md-6">
                        <a href="#" target="_blank" data-original="twitter">
                        <i class="icon-twitter6"></i><span>Twitter</span></a>
                    </li>
                </ul>
            </div>-->
            <p>Copyright {{site.name}}. All rights reserved.</p>
        </div>
    </section> 
</footer>
<!-- Footer End --> 