<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{site.description}}">
    <meta name="keywords" content="{{site.keywords}}">
    <meta property="og:url" content="http://centerplacechristiantheatre.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{site.name}} ({{site.shortName}})">
    <meta property="og:image" content="http://centerplacechristiantheatre.com/assets/images/logo-facebook.png">
    <meta property="og:description" content="{{site.description}}">
    <title>{{page.title}} - {{site.shortName}}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Contrail+One|Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/css/material.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
    <script src="/js/material.min.js"></script>
    <script src="/js/main.js"></script>
</head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        {% include header.html %}
        <main class="mdl-layout__content">
            <div class="mdl-grid content-max-width">
                {{content}}
            </div>
        </main>
        {% include footer.html %}
    </div>
</body>
</html>