@{
    Layout = "_layout.cshtml";
    ViewBag.Title = "Judy Scott";
}
<div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col">
            <p><img src="theaterfaces.png" alt="@ViewBag.Title"></p>
            <h1 class="mdl-card__title-text">@ViewBag.Title</h1>
            <p>Business/Advertising Manager</p>
        </div>
        <div class="mdl-cell mdl-cell--8-col">

            <p>
                Judy Scott comes to the board as a new member having been introduced to CPCT through the involvement of
                two of her children. For the past 37 years, she has been a part of Echo, a local Christian vocal and
                instrumental group under the umbrella of EMFI, Inc., a nonprofit organization whose mission is to teach
                gifted youth about and encourage participation in music ministry/performance. Echo has been providing
                ministry and performing since 1981 which has included concerts in Branson at the Lawrence Welk Theater,
                Baldknobbers pre-show, and Starlight Theater, and placed 3rd out of 67 groups in a competition at the
                National Quartet Convention in Louisville, KY, in 2001. As a youth she participated in musicals,
                performing "behind the scenes" as part of the orchestra playing flute, but her main love musically is
                the piano.
            </p>
            <p>
                Judy is an avid photographer and, because of that love, formed a business with her daughter. She brings
                those skills along with graphic design as one of the pieces of the puzzle and is privileged to be
                surrounded by many very talented individuals. As a mother of three grown children and five beautiful
                grandchildren, she has a deep appreciation for the need for outlets where talented youth can develop
                their gifts and share them with others. Her desire is to make a difference and inspire others to always
                put forth their very best and never settle for mediocrity when it comes to serving your fellow man, for
                that is what we are called to do. Love is the key.
            </p>

            <!-- <h2 class="mdl-typography--headline">Recent Experience</h2>
            <ul class="mdl-list">
                <li class="mdl-list__item mdl-list__item--two-line">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">local_activity</i>
                        <span>Mary Poppins</span>
                        <span class="mdl-list__item-sub-title">with Center Place Christian Theater</span>
                    </span>
                    <span class="mdl-list__item-secondary-content">
                        <span class="mdl-list__item-secondary-info">Summer 2017</span>
                    </span>
                </li>
            </ul> -->

        </div>
    </div>
</div>