@{
    Layout = "_layout.cshtml";
    ViewBag.Title = "Kristopher Taylor";
}
<div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col">
            <p><img src="kristophertaylor.jpg" alt="@ViewBag.Title"></p>
            <h1 class="mdl-card__title-text"@ViewBag.Title</h1>
            <p>Board Member</p>
        </div>
        <div class="mdl-cell mdl-cell--8-col">

            <p>
                Kristopher Taylor is enjoying his first season as a member of CPCT's Board of Directors. He has served
                as orchestra conductor for two previous productions, Little Women and Mary Poppins.
            </p>
            <p>
                Kristopher is a nationally recognized choral conductor and clinician, and is in his seventh season as
                artistic director of the award-winning Ancora Chorale. Under his tutelage, the Chorale has recorded two
                commercially distributed albums under the MSR label, and will record a third album of American folk music
                in 2018, which will be highlighted during an upcoming tour of the American Appalachia region.
            </p>
            <p>
                As a singer, Kristopher has performed in many ensembles including the Grammy-winning Mormon Tabernacle
                Choir, BYU Singers, Moses Hogan Chorale, Te Deum, Chanticleer, Spire Chamber Choir, Schola Cantorum,
                and Grammy-winning Conspirare. His singing endeavors have taken him to Scotland, Ireland, Mexico, England,
                and many cities across the United States.
            </p>
            <p>
                As a stage performer Kristopher has held several musical theater roles. He has performed the role of Seymour
                in Little Shop of Horrors nine times over the past twelve years, in San Diego Arts Connection, Austin
                Collective Theater, and Eastman Summer Theater. He has performed the roles of Judas Iscariot and Peter
                in Southern Utah Valley Theater's production of Jesus Christ Superstar. He has twice played the role of
                Cornelius Hackle in Hello Dolly!, both at the Chicago Players' Theater, where he also played the role of
                Joseph in Joseph and the Amazing Technicolor Dream Coat. In 2019 he will return to the stage to perform
                the role of Billy Bigelow in Omaha Summer Festival's production of Carousel.
            </p>
            <p>
                Kristopher has a deep passion for his hometown of Independence, Missouri and is thrilled to be involved
                with CPCT. He looks forward to serving the arts community of Independence and contributing to the advancement
                of accessible, family-friendly theater experiences that will inspire and entertain people from all walks of life.
            </p>

            <h2 class="mdl-typography--headline">Recent Experience</h2>
            <ul class="mdl-list">
                <li class="mdl-list__item mdl-list__item--two-line">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">local_activity</i>
                        <span>Mary Poppins</span>
                        <span class="mdl-list__item-sub-title">with Center Place Christian Theater</span>
                    </span>
                    <span class="mdl-list__item-secondary-content">
                        <span class="mdl-list__item-secondary-info">Summer 2017</span>
                    </span>
                </li>
            </ul>

        </div>
    </div>
</div>