html, body {
    font-family: 'Montserrat', sans-serif !important;
    background-color: #eee;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Contrail One', sans-serif !important;
}

blockquote {
    font-family: 'Contrail One', sans-serif !important;
    font-style: normal;
}

a {
    text-decoration: none;
}

.content-max-width {
    max-width: 90rem;
    margin: auto;
}

.full-image {
    width: 100%;
    height: auto;
}

.mdl-card--image {
    color: #fff !important;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.mdl-card--image.fine-arts { background: url(/images/title-fine-arts-theatre.jpg) center / cover; }
.mdl-card--image.curtains { background: url(/images/title-curtains.jpg) center / cover; }
.mdl-card--image.ornate-roof { background: url(/images/title-ornate-roof.jpg) center / cover; }
.mdl-card--image.piano-stage { background: url(/images/title-piano-stage.jpg) center / cover; }
.mdl-card--image.seats { background: url(/images/title-seats.jpg) center / cover; }
.mdl-card--image.theatre { background: url(/images/title-theatre.jpg) center / cover; }


