@{
    Layout = "_layout.cshtml";
    ViewBag.Title = "COVID Plans";
}
<div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
    <div class="mdl-card__title mdl-card--image theatre">
        <h1 class="mdl-card__title-text">Reopening Plan</h1>
    </div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
            Center Place Christian Theatre is committed to providing a safe environment for its
            participants to rehearse, its volunteers to volunteer, its vendors to provide their
            services and its audience to enjoy their performances..
            <hr>
            <p>Jackson County MO Health Department COVID-19 guidelines will be followed.</p>
            <ul>
                <li>Current Phase 2.5: Maximum 50% capacity and 6-ft social distancing</li>
                <li>CPCT will update their protocols, as new guidelines become available.</li>
            </ul>
        </div>
    </div>
</div>

<div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--4dp">
    <div class="mdl-card__title mdl-card--image clean">
        <h1 class="mdl-card__title-text">Enhanced Cleaning &amp; Hygiene Practices</h1>
    </div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
            <p>CPCT production staff &amp; volunteers will enforce enhanced cleaning &amp; hygiene
                practices during auditions, rehearsals, work days, and performances by:</p>
            <ul>
                <li>Increasing cleaning attention to high touch surfaces in public areas.</li>
                <li>Providing hand sanitizer for staff, volunteers, participants, vendors, and the
                    public, at points of entry and in common areas.</li>
                <li>Providing staff &amp; volunteers with disposable gloves when working with surfaces
                    that are difficult to clear (i.e. keyboards).</li>
                <li>Posting signage encouraging the practice of good personal hygiene located in
                    prominent places.</li>
            </ul>
        </div>
    </div>
</div>
<div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--4dp">
    <div class="mdl-card__title mdl-card--image mask">
        <h1 class="mdl-card__title-text">COVID-19 Dress Code Policies</h1>
    </div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
            <ul>
                <li>Masks will be required by all when inside the venue or associated spaces, unless
                    social distancing can be achieved and assured (cloth, disposable and/or plastic
                    masks/shields)</li>
                <li>Disposable face masks will be made available if individuals do not have their own.</li>
                <li>Masks will not be required during outdoor rehearsals or indoor strenuous activity,
                    unless appropriate social distancing cannot be maintained.</li>
                <li>Masks/face shields may be worn during performances, based on current climate and
                    guidelines.</li>
                <li>Masks will not be required by families for outdoor performances, when social
                    distancing can be assured.</li>
                <li>Concessions volunteers will wear masks and wear gloves for the entirety of their
                    shift.</li>
            </ul>
        </div>
    </div>
</div>
<div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--4dp">
    <div class="mdl-card__title mdl-card--image screening">
        <h1 class="mdl-card__title-text">Health Screenings</h1>
    </div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
            <ul>
                <li>All staff, volunteers, participants, vendors, and patrons will be questioned
                    regarding symptoms of Covid-19, and will self report.</li>
                <li>Anyone who is sick or exhibiting symptoms will be told to stay home or be
                    denied entry.</li>
            </ul>
        </div>
    </div>
</div>

<div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--4dp">
    <div class="mdl-card__title mdl-card--image tracing">
        <h1 class="mdl-card__title-text">Contact Tracing</h1>
    </div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
            <ul>
                <li>Each person associated with rehearsals, productions, educational programming,
                    special events and physically present in the venue or related spaces will be
                    required to complete a daily check-in, for attendance, at the beginning of each
                    day's entry into the building.</li>
                <li>Staff, volunteers, and participants will provide their contact information prior
                    to beginning rehearsals. Patrons will be required to provide their name, phone
                    number, and email address upon entry, unless pre-ticketed and CPCT has their
                    contact information.</li>
                <li>In the event of a report of a positive COVID-19 test result, all persons present,
                    as documented, will be notified of possible exposure and advised to contact their
                    physician for further guidance.</li>
                <li>CPCT will contact the Jackson County Health Department to inform of any known
                    exposure and provide contact lists as requested.</li>
            </ul>
        </div>
    </div>
</div>
<div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--4dp">
    <div class="mdl-card__title mdl-card--image rope">
        <h1 class="mdl-card__title-text">Contactless Experience</h1>
    </div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
            <ul>
                <li>Doors will be designated with clear signage for entry and exit, if possible and/or
                    left open as weather permits.</li>
                <li>The use of physical paperwork will be avoided as much as feasible. All forms are
                    to be made available digitally to the extent possible. When physical paperwork is
                    utilized, writing utensils will be sanitized and gloves will be worn by staff
                    and volunteers to handle paperwork.</li>
            </ul>
        </div>
    </div>
</div>
<div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--4dp">
    <div class="mdl-card__title mdl-card--image distancing">
        <h1 class="mdl-card__title-text">Reduced Capacity &amp; Social Dostancing</h1>
    </div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
            <ul>
                <li>Venue seating plans will be flexible to ensure social distancing of 6 feet and
                    50% of total seating capacity.</li>
                <li>Visible signage will be posted in easy to see locations encouraging social
                    distancing, mask wearing, and proper hand washing, or whatever current guidelines
                    entail.</li>
                <li>Audition and rehearsal plans will be presented for approval to the board.</li>
                <li>Staff and volunteers will monitor capacity and encourage all to follow social
                    distancing guidelines.</li>
                <li>All rehearsals are closed and will be limited to only staff, volunteers, and
                    participants. Parent(s) of young children are allowed in a supervisory role.</li>
                <li>Auditions and/or rehearsals can be conducted virtually or in-person. If in person,
                    the above safety measures for sanitation, hygiene, dress code, and social
                    distancing are in place.</li>
            </ul>
        </div>
    </div>
</div>

<div class="mdl-cell mdl-cell--7-col mdl-card mdl-shadow--4dp">
    <div class="mdl-card__title mdl-card--image curtains">
        <h1 class="mdl-card__title-text">Staff &amp; Volunteer Training</h1>
    </div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
            <ul>
                <li>All production staff, volunteers, participants (including cast, crew and musicians),
                    and vendors are required to watch the Best Practices for COVID-19 Safety training
                    video on the Missouri Arts Council website prior to beginning onsite work. The
                    website login and video can be
                    found <a href="https://form.jotform.com/moarts/missouri-artsafe-registration" target="_blank">here</a>.</li>
                <li>All staff, cast, crew, and volunteers will be trained and provided with scripted
                    examples to use for communicating respectfully and professionally to any guest or
                    other visitor who is not in compliance with the guidelines above.</li>
                <li>Staff, volunteers, and board members will follow all protocols.</li>
                <li>Staff and board meetings will be conducted onsite social-distanced or virtually as
                    needed.</li>
            </ul>
        </div>
    </div>
</div>
<div class="mdl-cell mdl-cell--5-col mdl-card mdl-shadow--4dp">
    <div class="mdl-card__title mdl-card--image fine-arts">
        <h1 class="mdl-card__title-text">Communication</h1>
    </div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
            <ul>
                <li>The Board of Directors will communicate in person and in writing, a set of
                    expectations to follow all of the guidelines above to all staff, volunteers,
                    participants, and patrons.</li>
                <li>Instructions and expectations will be visible for onsite, on social media, and on
                    our website.</li>
            </ul>
        </div>
    </div>
</div>
